@import "@/styles/variables.scss";

.boxAttributes {
  &[data-theme="dark"] {
    color: color-amber-500;
    &:hover {
      background-color: $dark-theme-background-hover;
    }
  }
  &[data-theme="light"] {
    color: black;
    &:hover {
      background-color: $light-theme-background-hover;
    }
  }

  &[color="primary"] {
    background-color: $color-primary;
    color: color-amber-500;
  }
  &[color="secondary"] {
    background-color: $color-secondary;
    color: color-amber-500;
  }
  &[color="success"] {
    background-color: $color-success;
    color: color-amber-500;
  }
  &[color="error"] {
    background-color: $color-error;
    color: color-amber-500;
  }
  &[color="warning"] {
    background-color: $color-warning;
    color: color-amber-500;
  }
  &[data-shadow="true"] {
    box-shadow: $shadow-strong;
    color: color-amber-500;
  }
  &[data-outlined="true"] {
    border: $color-default-light-1 solid 1px;
    color: color-amber-500;
  }

  border-radius: $border-radius;
}
