@import "@/styles/variables.scss";
.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  gap: 1em;
  height: 4em;
  padding: 0.8em;
  overflow: hidden;
  border-radius: $border-radius-small;
  background-color: $color-gray-10;
  box-shadow: $shadow-thin;
  cursor: pointer;
  transition: all 0.5s;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 1px;
    transform: scale(0, 0);
    transition: all 0.5s;
    background-color: color-amber-500;
  }

  &:hover {
    box-shadow: $shadow-normal;

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      display: block;
      width: 100%;
      height: 2px;
      background-color: color-amber-500;
      transform: scale(1, 1);
    }
  }
  .icon {
    position: relative;
    display: block;
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
  }

  & > div,
  .link {
    position: relative;
    display: flex;
    text-decoration: none;
    color: color-amber-500;
    flex-direction: column;
    gap: 0.2em;
    overflow: hidden;
    width: 100%;
    & > * {
      position: relative;
      color-amber-500-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: calc(min-content);
    }
    & > strong {
      font-weight: bold;
    }
    & > small {
      opacity: 0.5;
      font-weight: 100;
    }
  }

  .trailing {
    position: relative;
    height: 10px;
    width: 10px;
    min-height: 10px;
    min-width: 10px;
  }
}
