@import "@/styles/variables.scss";

.scrollContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  margin: -1rem;

  .container {
    position: sticky;
    top: 0;
    min-width: 100%;
    height: 100vh;
    padding-top: $nav-bar-height;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 1rem;

    .slideContent {
      position: relative;
      display: flex;
      flex: 1;
      height: 100%;
      .sliderProgress {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        margin: 1.5rem;
        border-radius: 10px;
        z-index: 10;

        .dot {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          min-height: 8px;
          max-height: 8px;
          min-width: 8px;
          max-width: 8px;
          border-radius: 100%;
          transition: opacity 0.5s;
          opacity: 0.3;
          background-color: $color-blue-500;
          cursor: pointer;

          &::after {
            content: "";
            display: block;
            height: 16px;
            width: 16px;
            max-width: 16px;
            max-height: 16px;
            min-height: 16px;
            min-width: 16px;
            border-radius: 100%;
            border: 1px solid $color-blue-500;
            transform: scale(0);
            transition: transform 0.3s;
          }

          &[data-active="true"] {
            opacity: 1;
            &::after {
              transform: scale(1);
            }
          }
        }
      }
      .content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;

        .title {
          font-size: 5rem;
          font-weight: 200;
        }

        .description {
          font-size: 2rem;
          font-weight: 200;
        }

        .skillsContainer {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;

          .skillIcon {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 3rem;
            min-width: 3rem;
            max-height: 3rem;
            max-width: 3rem;
            border-radius: 100%;
            background-color: $color-amber-500;
            color: black;
            font-size: 1.5rem;
            box-shadow: 0px 0px 5px $color-amber-500;
          }
        }
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        z-index: 10;
        position: relative;
        height: 100%;
      }
    }
    .sliderContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      height: 100%;

      .card {
        transition: all 1s;
        position: absolute;
        width: 100%;
        height: 100%;

        &[data-state="top"] {
          transform: scale(0.5) rotate(-25deg) translate(-10%, -200%);
          filter: blur(5px);
          pointer-events: none;
        }
        &[data-state="bottom"] {
          transform: scale(0.5) rotate(25deg) translate(-10%, 200%);
          filter: blur(5px);
          pointer-events: none;
        }
        &[data-state="active"] {
          transform: scale(1) rotate(0deg) translate(0%, 0%);
          z-index: 10;
        }

        &[data-state="inactive"] {
          background-color: gray;
          transform: translateX(-210%);
        }
      }
    }

    .backgroundContainer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.8;

      .img {
        transition: all 1s;

        &[data-state="top"] {
          transform: rotate(-25deg) translate(-10%, -200%);
        }
        &[data-state="bottom"] {
          transform: rotate(25deg) translate(-10%, 200%);
        }
        &[data-state="active"] {
          transform: rotate(0deg) translate(0%, 0%);
        }

        &[data-state="inactive"] {
          transform: translateX(-210%);
        }
      }
      .shadow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: inset 0px 0px 100px 100px $color-amber-500;
        backdrop-filter: blur(2px);
        z-index: 1;
      }
    }
  }
}
