@import "@/styles/variables.scss";

.main {
  display: flex;
  flex-direction: column;
  color: white;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    background-color: $color-black;

    padding: 1rem;
    & > * {
      max-width: 1300px;
    }
  }
  .projectsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    h2 {
      font-size: 3rem;
      font-weight: 100;
    }

    .filters {
      display: flex;
      gap: 1rem;

      border: 1px solid white;

      span {
        padding: 0.5rem;
        padding-top: 0.6rem;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: white;
          transition: all 0.3s;
          transform: translateX(-105%);
          z-index: -1;
        }
        &[data-state="true"] {
          color: black;
          &::after {
            transform: translateX(0%);
          }
        }
      }
    }
    .content {
      display: flex;
      justify-content: center;
      // gap: 1rem;
      flex-wrap: wrap;
    }
  }
}
