@import "@/styles/variables.scss";

$section-height: calc(100vh - $navigation-height);
.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $section-height;
    text-align: center;
    padding: 1em;
    h2 {
      font-size: 5em;
      animation: section1_h2 0.5s forwards;
      margin-top: auto;
    }
    p {
      font-size: 1.5em;
      animation: section1_p 1s forwards;
    }

    button {
      margin-top: auto;
      animation: section1_button 1.5s forwards;
    }
  }

  .section2 {
    height: $section-height;

    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;
    }
  }
}

@keyframes section1_h2 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes section1_p {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes section1_button {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  75% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: default;
    transform: translateY(0%);
  }
}
