@import "@/styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf");
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Black.ttf");
  font-weight: bolder;
  font-style: normal;
}

html {
  font-size: 16px;
  @media screen and (max-width: 1200px) {
    font-size: 14px;
  }
  @media screen and (max-width: 872px) {
    font-size: 12px;
  }
  @media screen and (max-width: 520px) {
    font-size: 10px;
  }
}

* {
  position: relative;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
small {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

  transition: all 0.5s;

  main {
    flex: 1;
  }

  footer {
    height: 50px;
  }
}
input,
select {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 1em;
  color: inherit;
  font-size: 1em;

  &:focus {
    outline: none;
  }
}
