@import "@/styles/variables.scss";

.container {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;

  // padding: 0.5rem;
  padding-inline-end: 1em;
  gap: 0.5em;
  height: min-content;
  border-radius: 100px;
  transition: all 0.3s;
  overflow: hidden;
  background-color: $color-bluegray-900;

  .circleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    width: 2.5rem;

    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: $color-blue-500;
    color: white;
    z-index: 1;
  }

  strong {
    flex: 1;
    font-size: 1em;
    font-weight: 400;
    color: white;

    z-index: 0;
    border-radius: 8px;
  }
}
