@import "@/styles/variables.scss";
.header {
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $nav-bar-height;
  left: 0;
  right: 0;
  padding: 0.5em 1em;
  color: color-amber-500;
  z-index: 90;
  transition: all 0.5s;
  backdrop-filter: blur(3px);
  transform: translateY(-100%);
  animation: animate forwards 0.3s;
  @media screen and (max-width: 560px) {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: $color-blue-500;
    width: 100%;
    height: 2px;
    top: 100%;
    transition: transform 0.3s;
    transform: scale(0);
  }
  &[data-hidden="true"] {
    background: rgba(255, 255, 255, 0.5);
    &::after {
      transform: scale(1);
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0px;
      padding: 0px;
      gap: 3rem;

      :last-child::after {
        display: none;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        a {
          text-decoration: none;
          color: black;
          overflow: hidden;
          font-weight: 600;

          &::before {
            position: absolute;
            content: "";
            display: block;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 2px;
            background-color: $color-blue-500;
            width: 100%;
            transition: transform 0.3s;
            transform: translateX(-110%);
          }

          &:hover::before {
            transform: translateX(0%);
          }
        }
        &::after {
          content: "";
          display: block;
          position: relative;
          height: 0.5rem;
          width: 0.5rem;
          min-width: 0.5rem;
          min-height: 0.5rem;
          border-radius: 100%;
          background-color: color-amber-500;
        }
      }
    }
  }
}

@keyframes animate {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
