@import "@/styles/variables.scss";

.chip {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 0.5em 1em;
  gap: 0.5em;
  background-color: $color-blue-gray-10;
  border-radius: 100px;

  cursor: default;

  & > :first-child {
    cursor: pointer;
  }
}
