@import "@/styles/variables.scss";

.filters {
  display: flex;
  align-self: center;
  border: 1px solid color-amber-500;
  & > span {
    position: relative;
    padding: 0.7rem;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      background-color: color-amber-500;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: transform 0.3s;
      z-index: -1;
      transform: translateX(-102%);
    }

    &[data-active="true"] {
      color: black;
      &::after {
        transform: translateX(0%);
      }
    }
  }
}
.skillsContainer {
  display: flex;
  justify-content: center;
  padding: 0px;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;

  transition: all 0.5s;
  & > * {
  }
}
